
* {
  font-family: Verdana, Arial, sans-serif;
}
a:link {
  color:#000;
  text-decoration: none;
}
a:visited {
  color:#000;
}
a:hover {
  color:#33F;
}

.top-margin {
  margin-top: 40px;

}
.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal;
}
.center {
  padding: 10px;
  text-align: center;
}
.final {
  color: black;
  padding-right: 3px;
}
.interim {
  color: gray;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none;
}
.right {
  float: right;
}
.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top;
}
#headline {
  font-size: 40px;
  font-weight: 300;
}
#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}
#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
}
#start_button {
  border: 0;
  background-color:transparent;
  padding: 0;
}

#go {
  margin-top: 20px;
  font-family: 'Michroma', sans-serif;;
  font-size: 15px;
  line-height: 75px;
  border-radius: 15px 5px 15px 5px;
  text-align: center;
  height: 75px;
  width: 150px;
  background-color: #1ce6b3;
  -webkit-box-shadow: 10px 10px 50px -20px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 50px -20px rgba(0,0,0,1);
  box-shadow: 10px 10px 50px -20px rgba(0,0,0,1),
  inset 0px -3px 6px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0px 3px 6px rgba(255,255,255,0.8); /*top internal highlight*/
}
